<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">
    <div class="card">
        <div class="card-header text-bg-primary h4 pt-2 pb-2 text-left">
            <div>Seção <span th:text="${numero}"></span></div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <th>Código TSE</th>
                <th>Cidade</th>
                <th>Polo</th>
                <th>Zona</th>
                </thead>
                <tbody>
                <tr th:each="secao : ${secoes}">
                    <td scope="row" th:text="${secao.municipio.codTse}">1</td>
                    <td scope="row" th:text="${secao.municipio.nome}">1</td>
                    <td scope="row" th:text="${secao.polo.numero}"></td>
                    <td scope="row" th:text="${secao.zona.numero}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>