<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form action="/action_page.php" method="get">
      <label for="option">Sobre o que você deseja saber?</label>
      <input list="options" name="option" id="option">
      <datalist id="options">
          <select>
              <option value="Polos">
              <option value="Municipios">
              <option value="Secoes">
              <option value="Zonas">
          </select>
      </datalist>
      <button type="submit">Pesquisar</button>
  </form>
  <div  th:each="polo : ${polos}">
      <h1>List: Polo <span th:text="${polo.numero}">Teste</span></h1>
  </div>
</body>
</html>