<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <div>Consultar por Zona: </div>
        </div>
        <div class="d-grid gap-0 col-8 mx-auto pb-4">
            <form th:object="${requisicaoZona}" th:action="@{/search/zona/zonaSrc}" method="GET">
                <div class="d-flex align-items-start row">
                    <div class="text-bg-secondary rounded-top h4 mt-3 mb-0 pt-2 pb-2 text-left">
                        Zona
                    </div>
                    <select th:field="*{numeroZona}" class="mt-0 form-select form-select-sm form-control" name="stockType" aria-label="Default select example rounded-3">
                        <option th:value="none" selected disabled hidden>Selecione a Zona</option>
                        <option  th:each="zona : ${zonas}" th:value="${zona.numero}"> <span th:text="${zona.numero}"></span> </option>
                    </select>

                    <div class="text-bg-secondary h4 mt-3 mb-0 pt-2 pb-2 text-left rounded-top">
                        Qual informação deseja acessar?
                    </div>
                    <select th:field="*{tipoDaPesquisa}" class="mt-0 form-select form-select-sm form-control" name="stockType" aria-label="Default select example rounded-3">
                        <option th:value="none" selected disabled hidden>Selecione o resultado que espera</option>
                        <option  th:value="todos">Informações completas</option>
                        <option  th:value="sede">Municipio Sede</option>
                        <option  th:value="municipios">Todos os municípios</option>
                        <option  th:value="secoes">Quantidade de Seções</option>
                    </select>

                    <div class="d-grid gap-2 col-8 mx-auto">
                        <button type="submit" class="mt-4 btn btn-warning">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>