<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">
  <div class="card">
    <div class="card-header text-bg-primary h4 pt-2 pb-2 text-left">
      <div>Municipio <span th:text="${municipio.nome}"></span></div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <th>Quantidade de Seções Totais</th>
        </thead>
        <tbody>
        <td th:text="${qntSecoesMunicipio}"> </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>