<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">
    <div class="card">
        <div class="card-header text-bg-secondary h4 pt-2 pb-2 text-left">
            <div>Polo: <span th:text="${idPolo}"></span>: Informações Completas</div>
        </div>

        <table class="table">
            <thead>
            <th>Município Sede</th>
            <th>Código TSE</th>
            </thead>
            <tbody>
            <td scope="row" th:text="${polo.sede.nome}"></td>
            <td scope="row" th:text="${polo.sede.codTse}">1</td>
            </tbody>
        </table>

        <table class="table">
            <thead>
            <th>Quantidade de Seções</th>
            </thead>
            <tbody>
            <td th:text="${qntSecoesPorPolo}">1</td>
            </tbody>
        </table>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">codTSE</th>
                    <th scope="col">Município</th>
                    <th scope="col">Sede</th>
                    <th scope="col">Zona</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="zona : ${todasZonas}">
                    <tr th:each="cidade : ${zona.municipios}">
                        <th scope="row" th:text="${cidade.codTse}">1</th>
                        <td th:text="${cidade.nome}"></td>
                        <td>
                            <span th:text="${polo.sede.codTse}"></span>
                             -
                            <span th:text="${polo.sede.nome}"></span>
                        </td>
                        <td th:text="${zona.numero}"></td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>