<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
    <div th:replace="~{base :: logo}"></div>
    <div class="container">
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <div>Pesquisar sobre: </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="search/municipio" class="btn btn-primary mt-4" type="button">Município</a>
            <a href="search/secao" class="btn btn-primary" type="button">Seção</a>
            <a href="search/zona" class="btn btn-primary" type="button">Zona</a>
            <a href="search/polo" class="btn btn-primary mb-4" type="button">Polo</a>
        </div>
    </div>
    </div>
</body>
</html>