<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>List: Polo <span th:text="${list}">Teste</span></h1>
        <p>Todas as Cidades : <span th:text="${cidades}">Teste</span></p>
        <p>Cidades pelo Polo 1 : <span th:text="${cidadesPorPolo}">Teste</span></p>
        <p>Cidades pela Secao 1 : <span th:text="${cidadesPorSecao}">Teste</span></p>
        <p>Polo de Recife: <span th:text="${poloDaCidade}">Teste</span></p>
</body>
</html>